---
import { getCollection } from "astro:content";
import { getPath } from "@/utils/getPath";
import { getPostsByLang } from "@/i18n/utils";

export async function getStaticPaths() {
  const posts = await getCollection("blog", ({ data }) => !data.draft);
  const enPosts = getPostsByLang(posts, "en");
  return enPosts.map(post => ({
    params: { slug: getPath(post.id, post.filePath, false).replace(/^\//, "") },
    props: { redirectTo: getPath(post.id, post.filePath) },
  }));
}

const { redirectTo } = Astro.props;
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0;url=${redirectTo}`} />
    <link rel="canonical" href={redirectTo} />
  </head>
  <body>
    <p>Redirecting to <a href={redirectTo}>{redirectTo}</a>…</p>
  </body>
</html>
