---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Card from "@/components/Card.astro";
import Pagination from "@/components/Pagination.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import { SITE } from "@/config";
import { LOCALES, useTranslations, type Locale } from "@/i18n/ui";
import { getPostsByLang } from "@/i18n/utils";

export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = await getCollection("blog", ({ data }) => !data.draft);
  return LOCALES.flatMap(lang =>
    paginate(getSortedPosts(getPostsByLang(allPosts, lang)), {
      params: { lang },
      pageSize: SITE.postPerPage,
    })
  );
}) satisfies GetStaticPaths;

const { lang } = Astro.params;
const t = useTranslations(lang as Locale);
const { page } = Astro.props;
---

<Layout title={`${t("posts.pageTitle")} | ${SITE.title}`} lang={lang as Locale}>
  <Header lang={lang as Locale} />
  <Main pageTitle={t("posts.pageTitle")} pageDesc={t("posts.pageDesc")}>
    <ul>
      {page.data.map(data => <Card {...data} />)}
    </ul>
  </Main>

  <Pagination {page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
